.sorting tr:not(.home) {
    cursor: pointer;
}

.ui-state-hightlight{
    border: 1px dashed #ccc;
}

#imgPreview{
    margin-top: 20px;
}

.proImg{
    width: 100px;
    height: 100px;
}

ul.gallery{
    padding: 0;
}

ul.gallery li:first-child {
    margin-left: 0;
}

ul.gallery li{
    margin: 20px;
    display: inline-block;
}

table.middle td{
    vertical-align: middle !important;
}